<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}GProjets{% endblock %}</title>
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <link href="{{ asset('bundles/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/css/ruang-admin.min.css') }}" rel="stylesheet">
    {% endblock %}


</head>

<body class="bg-gradient-login">
<!-- Register Content -->
<div class="container-login">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card shadow-sm my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Register</h1>
                                </div>
                                {{ form_start(registrationForm) }}
                                <div class="form-group">
                                    {{ form_row(registrationForm.email ,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(registrationForm.plainPassword, {'attr':{'class':'form-control'}
                                        ,label: 'Password'
                                    }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(registrationForm.usertype,{'attr':{'class':'form-control'}}) }}

                                </div>
                                <div class="form-group">
                                    {{ form_row(registrationForm.agreeTerms) }}
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                                </div>
                                <hr>
                                {{ form_end(registrationForm) }}

                                <hr>
                                <div class="text-center">
                                    <a class="font-weight-bold small" href="{{ path('app_login') }}">Already have an
                                        account?</a>
                                </div>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Content -->
{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
    <script src="{{ asset('bundles/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('bundles/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('bundles/js/ruang-admin.min.js') }}"></script>
{% endblock %}


</body>

</html>