<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}GProjects - Projects{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/css/ruang-admin.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body id="page-top">
<div id="wrapper">
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- TopBar -->
            <!-- Topbar -->
            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
                <br>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">task detail</h1>
                </div>

                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <!-- Simple Tables -->
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Task maker</th>
                                        <th>Project Tasks</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ task.id }}</td>
                                        <td>{{ task.nom }}</td>
                                        <td>{{ task.tmaker.email }}</td>
                                        <td>{{ task.getProjectTasks().getNomProject() }}</td>
                                    </tr>

                                    </tbody>
                                </table>
                                <hr>
                                <div align="center">
                                    <a class="btn btn-primary" href="{{ path('tasks_index') }}">back to list</a>

                                </div>
                                <br>
                                <br>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
                <!--Row-->

                <!-- Modal Logout -->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabelLogout"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to logout?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel
                                </button>
                                {% if app.user %}
                                    <a href="{{ path('app_logout') }}" class="btn btn-primary">Logout</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!---Container Fluid-->
        </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script>
            </span>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </div>
</div>


<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% block javascripts %}
    <script src="{{ asset('bundles/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('bundles/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('bundles/js/ruang-admin.min.js') }}"></script>
{% endblock %}
</body>

</html>